:root {
  --dark-blue: rgb(79, 70, 229);
  --light-gray: #e5e7eb;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

#container {
  width: 80%;
  margin: 0 auto;
}

.app-screen {
  margin-top: 90px;
}

.flex {
  display: flex;
}
.flex.between {
  justify-content: space-between;
}

.card {
  border: 1px solid var(--light-gray);
  padding: 20px;
  border-radius: 15px;
}

.to-center {
  text-align: center;
}

@media (max-width: 900px) {
  .flex {
    display: block !important;
  }
  .card {
    width: 100% !important;
  }
}