.error-container {
  height: 50vh;
  width: 100%;
  background-color: var(--dark-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 15px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
  flex-direction: column;
}

.error-container > a {
  color: inherit;
}