.custom-button {
  cursor: pointer;
  border: 0;
  background-color: var(--dark-blue);
  color: #fff;
  border-radius: 10px;
  height: 40px;
  padding: 0 20px;
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}