<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sequelize@6.15.1/dist/sequelize.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/mysql2@2.3.0/dist/mysql2.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles/templates.css') }}">
</head>

<body>

    <header>
        <nav class="navbar navbar-expand-lg">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Alterna navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(Página atual)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sugestões</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pesquisa</a>
                    </li> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Informações
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Dados Pessoais</a>
                            <a class="dropdown-item" href="#">Currículo</a>
                            <a class="dropdown-item" href="#">Suas Aulas</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <button class="btn nav-link exit" id="exit_button" href="#" onclick="exit()">Sair</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container">

        <form action="{{ url_for('cadaster') }}" >

        <main>
            <section class="search_std">
                <h2>Procurar aluno:</h2>
                <input type="text" name="search" id="search_std" placeholder="Digite o RM do aluno..."><button
                    class="input_button">Procurar</button>

                <div class="funcButtons">
                    <button type="submit" class="btn" onclick="salvarCadastro()">Cadastrar</button>
                    <button><img src="..." alt="..." class="func img">Atualizar</button><br>
                    <button><img src="..." alt="..." class="func img">Remover</button>
                </div>
            </section>

            <section class="sect_cadaster">
                <label for="name_std">Nome*: <input type="text" name="std_name" id="name_std" required></label>
                <label for="bday">Data de Nascimento*: <input type="date" name="bday_std" id="bday_std" required></label>
                <label for="email_std">Email Institucional*: <input type="email" name="email_std" id="email_std"
                        required></label>
                <label for="end_std">Endereço*: <input type="text" name="end_std" id="end_std" required></label>
                <label for="tel_std">Telefone*: <input type="tel" name="tel_std" id="tel_std" required></label>
                <label for="curso">Curso*:
                    <select name="curso_std" id="curso">
                        <option value="">Selecione o curso: </option>
                        <option value="ds">Desenvolvimento de Sistemas</option>
                        <option value="adm">Administração</option>
                        <option value="mec">Mecanica</option>
                    </select>
                </label>

                <div class="photo">
                    <input type="file" id="inputFile" style="display: none;" accept="image/*" name="picture_std">
                    <div class="image" id="photoContainer" name="picture_std"></div>
                    <button class="btn alt_btn" onclick="selecionarFoto()">ALTERAR FOTO</button>
                </div>
            </section>    
        </form>
        </main>

        <div class="std_list">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nome</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Sexo</th>
                        <th>Endereço</th>
                        <th>Data de nascimento</th>
                        <th>Curso</th>
                    </tr>
                </thead>
                <tbody>
                        <tr>
                            <td>231128</td>
                            <td>Eric Luis da Silva Mauricio</td>
                            <td>eric.mauricio@etec.sp.gov.br</td>
                            <td>11983085255</td>
                            <td>M</td>
                            <td>rua branquinha,427</td>
                            <td>01-02-2008</td>
                            <td>DS</td>
                        </tr>
                </tbody>
            </table>
            
        </div>

        <footer>&copy; Sistema CENA - Desde 2024</footer>
    </div>


</body>

<script src="{{ url_for('static', filename='app.js') }}"></script>
<script src="{{ url_for('static', filename='connection.js') }}"></script>


</html>