<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="static/styles/templates.css">
    <style>
        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0 auto;
        }

        a {
            color: unset;
            text-decoration: unset;
        }
    </style>
</head>

<body>
    <div class="container">
        <main>
            <div class="error">
                <div class="404">
                    <h1 class="text-center">404</h1>
                    <h2 class="text-center ">oops! nothing here</h2>
                    <p class="text-center image-fluid">The page may be temporarily out or have been deleted.</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="{{ url_for('index') }}">
                            <button class="btn btn-danger image-fluid">Go to Home</button>
                        </a>

                        <a href="{{ url_for('index') }}">
                            <button class="btn btn-primary ml-2 image-fluid">Support Problem</button>
                        </a>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

</html>