@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

html {
  width: 100%;
  height: auto;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

header {
  background: rgb(255, 0, 18);
  background: linear-gradient(
    90deg,
    rgba(255, 0, 18, 0.8687850140056023) 0%,
    rgba(121, 9, 9, 0.8939950980392157) 89%
  );
  height: 50px;
  padding: 3rem;
  align-items: center;
  justify-content: center;
  display: flex;
  /* margin: 0 0 0 -800px; */
  justify-content: space-between;
  position: relative;
}

.nav-link {
  color: #d8d8d8;
  transition: all 0.3s ease;
  font-size: 1rem;
}

.nav-link:hover:not(.exit) {
  color: #fffbff;
  transform: scale(1.2);
  margin: 0 20px 0 20px;
  font-size: 1.1rem;
}

.dropdown-menu {
  transition: 0.3s;
  background-color: #fff;
}

.dropdown-item {
  transition: all 0.5s ease;
  font-weight: 500;
}

.dropdown-item:hover {
  background-color: #222;
  color: #fff;
}

.exit {
  margin-left: 700px;
  color: #fff;
  background-color: #000;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  transition: 0.3s;
}

.exit:hover {
  transform: scale(1.1);
  color: #fff;
}

.infosBox {
  border: 1px solid #000;
  padding: 10px;
  margin: 20px 0 20px 0;
  width: 200px;
  height: 500px;
  border-radius: 5px;
  text-align: start;
  font-size: 14px;
}

.infosBox button,
.alt_btn {
  margin: 20px;
  background-color: #222222;
  color: #fff;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 500;
  width: 130px;
}

.image {
  width: 130px;
  height: 160px;
  border: 1px solid #ccc;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px auto;
}

.photo {
  border: 1px solid #000;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-radius: 5px;
  width: 200px;
}

.photo button {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 10px auto;
}

.infos_area {
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  margin: 20px 40px 0 20px;
  width: 100%;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

h2 {
  font-size: 1rem;
  font-weight: 700;
  color: #111;
}

.partner {
  border: 1px solid red;
  margin: 0;
  padding: 10px;
}

.partner button {
  font-size: 13px;
  margin-bottom: 20px;
}

h4 {
  font-size: 25px;
  text-align: center;
}

main {
  display: flex;
}

.tables {
  display: flex;
  justify-content: space-between;
}

.tables table h2 {
  text-align: center;
  margin-bottom: 20px;
}

table {
  font-family: Montserrat, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #000;
  text-align: left;
  padding: 8px;
  color: #000;
  font-weight: 500;
}

.table_pend {
  width: 70%;
  height: 100px;
  margin: 37px 30px 0;
}

.table_msg {
  width: 100%;
  height: auto;
}

.table_blog {
  width: 100%;
  height: auto;
  /* margin-top: 50px; */
}

.table_label {
  text-align: center;
  margin-top: 37px;
}

.btn:hover {
  color: #fff;
}

footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(22, 21, 21, 1) 90%
  );
  padding: 10px;
  margin: 10px 0 30px 0;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  font-weight: 200;
  width: 100%;
}

/*LOGIN.HTML*/
.login {
  background-color: #fff;
  border-radius: 10px;
  /* padding: 20px; */
  height: 362px;
  box-shadow: 8px -3px 38px 3px rgba(0,0,0,0.75);
-webkit-box-shadow: 8px -3px 38px 3px rgba(0,0,0,0.75);
-moz-box-shadow: 8px -3px 38px 3px rgba(0,0,0,0.75);
}

.info_button{
  border-radius: 5px;
  width: 40px;
  border: none;
  background-color: #333;
  padding:5px;
  color: #fff;
  margin-left: 10px;
}

.login_form{padding: 30px;}

.login label {
  color: #111;
  font-weight: 500;
}

.pass {
  margin-left: 130px;
}

.login input {
  margin: 30px;
  width: 150px;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  padding: 7px;
}

.login input::placeholder{
  font-size: 15px;
}

#cod{width: 60px}

.login select {
  border-radius: 5px;
  padding: 5px;
}

.enter{
  width: 120px;
  /* margin: 20px; */
  margin: 40px auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

/*Cadaster.html*/
.search_std {
  margin-top: 30px;
  width: 30vh;
  width: 40%;
  border-right: 1px solid #000;
  padding: 20px;
  justify-content: space-between;
}

.search_std input {
  border-radius: 3px;
  border: 1px solid #000;
  padding: 3px;
  text-transform: uppercase;
}

.search_std input::placeholder {
  color: #333;
  font-size: 13px;
  padding: 10px;
  margin-left: 30px;
  text-transform: lowercase;
}

.input_button {
  border-radius: 5px;
  padding: 2px;
  height: auto;
  width: 33%;
  border: 1px solid #000;
  background-color: #111;
  font-weight: 200;
  font-style: italic;
  transition: all 0.3s;
  margin-left: 20px;
  color: #fff;
}

.funcButtons button {
  border-radius: 5px;
  width: 100%;
  margin: 10px 0;
  padding: 5px;
  height: 30px;
  text-align: center;
  border: 1px solid #000;
  background-color: transparent;
  transition: 0.3s;
}

.funcButtons button:hover,
.input_button:hover {
  transform: scale(1.1);
}

.sect_cadaster {
  width: 60%;
  flex-direction: column;
  columns: 2;
  column-count: 2;
  column-gap: 80px;
  column-width: 50%;
}

.sect_cadaster input,
.sect_cadaster select {
  width: 300px;
  margin: 10px;
}

.sect_cadaster label {
  margin: 10px;
}

.std_list {
  margin-top: 100px;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

/*404 ERROR*/
body{
  background-color: #eee;
}

.error{
  background-color: #fff;
  height: 400px;
  width: 700px;
  padding: 50px;
  border-radius: 2px;
}

.error h1 {
  font-size: 6rem;
  font-weight: 600;
  color: transparent; 
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(253,29,29,1) 66%, rgba(180,58,58,1) 100%);  -webkit-background-clip: text; 
  background-clip: text; 
  font-style: italic;
}

.error h2{
  font-size: 1.5rem;
  font-style: italic;
  font-weight: 500;
}

.error p{
  font-style: italic;
  font-size: 1.1rem;
}

.error button{
  padding: 10px;
  border-radius: 50px;
  width: 200px;
}